* {
  box-sizing: border-box;
}

html {
  font-size: 15px;
  font-family: "Nunito", sans-serif;
}

body {
  min-height: 100vh;
  background: #e5e5e5;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
ul,
ol,
p {
  margin: 0;
  padding: 0;
}

.left-text {
  font-family: "Roboto" sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  color: #212a2f;
}

.left-text-part {
  display: flex;
  justify-content: space-between;
}

.left-text-mid {
  padding-left: 36px;
  padding-right: 36px;
}

.header-container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.right-text-part {
  display: flex;
}

.button-img {
  border: none;
}

.right-text-last {
  padding-left: 20px;
  padding-right: 30px;
}

.right-text {
  padding-top: 10px;
}

.main-content-first-part {
  background-image: url(./images/background-of-first-part.png);
  background-size: cover;
  width: 100%;
  height: 740px;
}

.big-title {
  font-family: "Roboto" sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 63px;
  letter-spacing: 0.5px;
  color: #ffffff;
}

.little-title {
  font-family: "Roboto" sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #ffffff;
}

.first-part-text-content {
  position: relative;
  display: inline-block;
  top: 60%;
  left: 5%;
}
.white-button {
  height: 48px;
  background: #ffffff;
  border-radius: 2px;
  border: #ffffff 2px solid;
  width: 164px;
  font-weight: 700;
  font-family: "Roboto" sans-serif;
  font-size: 13px;
  line-height: 16px;

  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #212a2f;
  margin-top: 20px;
}

.white-button-right {
  margin-left: 24px;
}

.title {
  font-family: "Roboto" sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #212a2f;
  padding-top: 80px;
  padding-bottom: 15px;
}

.big-button {
  font-family: "Roboto" sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #212a2f;
  border: none;
  padding-bottom: 10px;
  margin-bottom: 50px;
}

.big-button:hover {
  border-bottom: 2px black solid;
}

.button-box {
  text-align: center;
  margin-top: 30px;
}

.big-button-middle {
  margin-left: 100px;
  margin-right: 110px;
}

.our-favourites-first {
  background-image: url(./images/first-grey-sneakers-img.png);
  width: 540px;
  height: 500px;
  background-size: cover;
}

.our-favourites-second {
  background-image: url(./images/second-white-sneakers.png);
  width: 540px;
  height: 500px;
  background-size: cover;
}

.our-favourites-third {
  background-image: url(./images/third-grey-sneakers-img.png);
  width: 540px;
  height: 500px;
  background-size: cover;
}

.white-big-button {
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Roboto" sans-serif;
  color: #212a2f;
  width: 276px;
  height: 48px;
  border: none;
  left: 25%;
  top: 40%;
  position: relative;
}

.white-big-button-bottom {
  margin-top: 15px;
}

.our-favourites-box-content {
  display: flex;
  justify-content: space-between;
  max-width: 1700px;
  margin: 0 auto;
}
