* {
  box-sizing: border-box;
}

html {
  font-size: 15px;
  font-family: "Nunito", sans-serif;
}

body {
  min-height: 100vh;
  background: #e5e5e5;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
ul,
ol,
p {
  margin: 0;
  padding: 0;
}

.left-text {
  font-family: "Roboto" sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  color: #212a2f;
}

.left-text-part {
  display: flex;
  justify-content: space-between;
}

.left-text-mid {
  padding-left: 36px;
  padding-right: 36px;
}

.header-container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.right-text-part {
  display: flex;
}

.button-img {
  border: none;
  background: #e5e5e5;
}

.right-text-last {
  padding-left: 20px;
  padding-right: 30px;
}

.right-text {
  padding-top: 10px;
}

.main-content-first-part {
  background-image: url(./images/background-of-first-part.png);
  background-size: cover;
  width: 100%;
  max-width: 1700px;
  height: 740px;
  margin: 0 auto;
}

.big-title {
  font-family: "Roboto" sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 63px;
  letter-spacing: 0.5px;
  color: #ffffff;
}

.little-title {
  font-family: "Roboto" sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #ffffff;
}

.first-part-text-content {
  position: relative;
  display: inline-block;
  top: 60%;
  left: 5%;
}
.white-button {
  height: 48px;
  background: #ffffff;
  border-radius: 2px;
  border: #ffffff 2px solid;
  width: 164px;
  font-weight: 700;
  font-family: "Roboto" sans-serif;
  font-size: 13px;
  line-height: 16px;

  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #212a2f;
  margin-top: 20px;
}

.white-button-right {
  margin-left: 24px;
}

.title {
  font-family: "Roboto" sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #212a2f;
  padding-top: 80px;
  padding-bottom: 15px;
}

.big-button {
  font-family: "Roboto" sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #212a2f;
  border: 1px #11ffee00 solid;
  padding: 0px;
  background: #e5e5e5;
}

.big-button:hover {
  border-bottom: 1px black solid;
}

.button-box {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 70px;
}

.big-button-middle {
  margin-left: 100px;
  margin-right: 110px;
}

.our-favourites-first {
  background-image: url(./images/first-grey-sneakers-img.png);
  width: 520px;
  height: 500px;
  background-size: cover;
  position: relative;
}

.our-favourites-second {
  background-image: url(./images/second-white-sneakers.png);
  width: 520px;
  height: 500px;
  background-size: cover;
  position: relative;
}

.our-favourites-third {
  background-image: url(./images/third-grey-sneakers-img.png);
  width: 520px;
  height: 500px;
  background-size: cover;
  position: relative;
}

.white-big-button {
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Roboto" sans-serif;
  color: #212a2f;
  width: 276px;
  height: 48px;
  border: none;
  position: absolute;
  top: 50%;
  transform: translate(50%);
}

.white-big-button-bottom {
  margin-top: 60px;
}

.our-favourites-box-content {
  display: flex;
  justify-content: space-between;
  max-width: 1600px;
  margin: 0 auto;
}

.left-text-link {
  text-decoration: none;
}

.orange-img {
  background-image: url(./images/orange-img-trainers.png);
  background-size: cover;
  width: 1663px;
  height: 560px;
  margin: 0 auto;
}

.big-box-with-orange-img {
  margin-top: 100px;
}

.caption {
  font-family: "Roboto" sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #212a2f;
}

.text-for-orange-img {
  padding-top: 50px;
}

.sub-title {
  font-family: "Roboto" sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #212a2f;
  padding-top: 50px;
}

.dark-button {
  background: #212a2f;
  border: 2px solid #212a2f;
  box-sizing: border-box;
  border-radius: 2px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Roboto" sans-serif;
  width: 180px;
  height: 48px;
  margin-right: 7px;
}

.button-container {
  text-align: center;
  padding-top: 20px;
}

.dark-button-last {
  margin-left: 7px;
}

.block-with-collections {
  max-width: 1600px;
  margin: 0 auto;
}

.collections-content {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.title-collections {
  font-family: "Roboto" sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: 0.5px;
  color: #212a2f;
  position: relative;
  display: inline-block;
  left: 10%;
}

.left-romb-btn {
  border: none;
  background: #e5e5e5;
}

.title-for-collections-img {
  font-family: "Roboto" sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 29px;
  letter-spacing: 0.5px;
  color: #212a2f;
  padding-top: 20px;
  padding-bottom: 20px;
}

.sub-text-for-collections-img {
  font-family: "Roboto" sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #212a2f;
}

.img-with-wood {
  padding-top: 70px;
}

.woods-img {
  width: 100%;
  background-size: cover;
  max-width: 1700px;
}

.wood-title {
  font-family: "Roboto" sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #212a2f;
}

.wood-sub-text {
  font-family: "Roboto" sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #212a2f;
}

.text-wood-block {
  padding-top: 60px;
  text-align: center;
}

.wood-title {
  padding-bottom: 20px;
}

.button-see-now {
  background: #212a2f;
  border: 2px solid #212a2f;
  box-sizing: border-box;
  border-radius: 2px;
  width: 348px;
  height: 50px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 30px;
  cursor: pointer;
}

.block-with-nature-wood-img {
  padding-bottom: 70px;
  margin: 0 auto;
  max-width: 1700px;
}
